/* AddressSection.css */

.address-section {
    width: 90%;            /* Set width to 90% */
    margin: 16px auto 0;   /* Center horizontally with auto margins and set top margin */
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.deliver-now {
    margin-right: 8px;
}

.address {
    height: 26px;
    display: flex;
    align-items: center;
    font-weight: 600;      /* Make the address text bolder */
}

.dropdown-icon {
    cursor: pointer;
    height: 26px;
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.icon-input-container {
    margin-top: 16px;      /* Add spacing at the top */
    margin-bottom: 16px;   /* Add spacing at the bottom */
}
